body {
    --s: 120px; /* control the size */
    
    background:
      conic-gradient(from 150deg at 50% 33%,#0000,#FAAB78 .5deg 60deg,#0000 60.5deg) 
        calc(var(--s)/2) calc(var(--s)/1.4),
      conic-gradient(from -30deg at 50% 66%,#0000,#FFDCA9 .5deg 60deg,#FCF9BE 60.5deg);
    background-size: var(--s) calc(var(--s)/1.154);
    
    
}
h1{
    color: #83d400;
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    color: #83d400;
    background-color: #ffe69b;
}