body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;

    font-family: Georgia, serif;
}

div {
    width: fit-content;
    height: fit-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

a:hover {
    scale: 1.05;
    cursor: pointer;
}

.title {
    text-align: center;
    rotate: -5deg;

    background: darkblue;
    color:white;

    padding: 0.5em;
    border-radius: 25%;

    animation: logo 1s ease-in infinite;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons a {
    width: 7em;
    height: 0.75em;

    padding: 2em;
    text-align: center;

    box-shadow: black 0.5em 0.75em;
    margin: 2em 0 ;
}



@keyframes logo {
    0% {
        scale: 1.0;
    }
    50% {
        scale: 1.10;
    }
    100% {
        scale: 1;
    }
}
