body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;

  font-family: Georgia, serif;
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div {
    width: fit-content;
    height: fit-content;

}

a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    rotate: -5deg;

    background: darkblue;
    color:white;

    padding: 0.5em;
    border-radius: 25%;

    animation: logo 1s ease-in infinite;
}


.button {
    width: 6em;
    height: 0.75em;

    padding: 2em;
    text-align: center;
    
    background: darkblue;
    box-shadow: black 0.5em 0.75em;
    margin: 2em 0 ;
}

.button:hover {
    scale: 1.05;
    cursor: pointer;
}

@keyframes logo {
  0% {
      scale: 1.0;
  }

50% {
        scale: 1.10;
}
100% {
    scale: 1;
}
}
